* {
    box-sizing: border-box;
    cursor: none;
} 
body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}
.column {
    float: left;
    padding: 10px;
    height: 300px; /* to jest tylko dla prezentacji layoutu */
}
.column.side {
    width: 25%;
    background-color:#aaa;
}
.column.middle {
    width: 50%;
    background-color:#bbb;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
.cursor {
    width: 40px;
    height: 51px;
    background-image: url(img/cursor.png), auto;
}
